body {
  font-family: robot, lato !important;
  font-size: large;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  height: 43px;
}

.navbar-brand {
  font-size: 27px;
  padding-left: 10px;
  font-family: 'Lato';
}

.nav-item a {
  color: gray !important;
  font-size: 16px;
  padding: 0px 10px;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.nav-item {
  padding: 0 10px;
}

.nav-item a {
  color: gray !important;
  font-size: 16px;
  padding: 0 10px;
  font-weight: 600;
}

.signin-image {
  height: 390px;
  border: 25px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* Remove focus outline */
textarea:focus,
input:focus {
  outline: none !important;
}

/* Cursor pointer utility */
.cursor-pointer {
  cursor: pointer;
}

.jumbotron {
  background-color: white;
}

/*...... index page...... */

.home-wrap {
  background-color: rgb(31, 30, 30);
}

.g-top {
  height: 89vh;
  position: relative;
}

.video-wrap {
  height: 600px;
}

.video-wrap {
  flex: 1 1 250px;
  border: 1px solid white;
}

.g-top-left {
  position: absolute;
  right: 0;
  height: 8vh;
  top: 0;
  border-bottom-left-radius: 10px;
}

.top-left-participant-wrap {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
  padding: 5px;
}

.cursor-pointer:hover {
  cursor: pointer;
  padding: 5px;
  background-color: rgb(226, 225, 225);
  border-radius: 5px;
}

.top-left-participant-count {
  position: absolute;
  top: -2px;
  right: -3px;
  font-size: 15px;
}

.g-bottom {
  /* margin: 0 -10px !important; */
  padding: 0 20px;
  box-shadow: 0 0 5px black;
  z-index: 2;
}

.bottom-left {
  position: relative;
  padding: 5px;
}

.action-icon-style {
  font-size: 8px !important;
  height: 40px;
  width: 40px;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.action-icon-style span.material-icons {
  /* font-size: 18px; */
}

.end-call-wrap {
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.top-remote-video-show-wrap {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-image: url(../images/bg.png) !important; */
}

video {
  border: 1px solid gray;
  width: 300px;
}

/* Chat section styles */
.g-right-details-wrap {
  display: flex !important;
  flex-direction: column;
  overflow: hidden !important;
}

.in-call-wrap {
  display: flex !important;
  flex-direction: column;
  min-height: 0 !important;
  flex: 1;
}

.chat-show-wrap {
  display: flex !important;
  flex-direction: column;
  flex: 1;
  min-height: 0 !important;
}

.chat-message-show {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.chat-message-sent-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: white;
  min-height: 36px;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chat-message-sent-action {
  font-size: 24px;
  width: 40px;
  height: 40px;
}